DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=True

POSTGRES_DB=team_finder
POSTGRES_USER=team_finder
POSTGRES_PASSWORD=team_finder
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1
